.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
}

.tabs {
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
}

.tab-button {
  color: #333333;
  flex: 1;
  padding: 10px 30px;
  margin-right: 10px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button.active {
  background-color: rgb(207, 205, 205);
}

.preprocess-container {
  display: flex;
  gap: 20px;
}

.main-content {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-visualization {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  height: 300px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.filters {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
}

.filter-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 1;
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  display: flex;
  flex-direction: column;
}

.file-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow-y: auto;
  max-height: 300px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  border-radius: 5px;
}

.file-list button {
  text-align: left;
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #333333;
  background: None;
  text-transform: None;
}

.file-list button.selected {
  background-color: red;
  color: white;
}

.upload-section {
  margin-top: 0;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  background-color: #6eb1f8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  text-transform: uppercase;
  font-size: 10px;
}

button:hover {
  background-color: #333333;
  color: white;
}

xbutton {
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  color: red;
  padding-left: 5px;
}

input[type="file"] {
  width: 100%;
}