@font-face {
  font-family: 'CooperBT';
  src: url('font/Cooper_BT_Font_Family/CooperBlkBT-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('font/Anonymous_Pro_Font_Family/AnonymousPro-Regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
}

@font-face {
  font-family: 'AnonymousPro';
  src: url('font/Anonymous_Pro_Font_Family/AnonymousPro-Bold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal; 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: 'AnonymousPro', Arial, sans-serif;
  color: #333333;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200%;
  background-color: #f0f0f0;
  font-family: 'AnonymousPro', Arial, sans-serif;
}

.container {
  width: 90%;
  max-width: 1200px;
  background-color: white;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 95%;
  box-sizing: border-box;
}

.title {
  text-align: left;
  font-size: 23px;
  margin-bottom: 10px;
  font-family: 'AnonymousPro', Arial, sans-serif;
  font-weight: bold;
}

.tabs {
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  margin-bottom: 10px;
}

h3 {
  font-size: 14px;
  margin-top: -5px;
  font-weight: bold;
  text-transform: uppercase;
}

.tab-button {
  color: #333333;
  flex: 1;
  padding: 10px 30px;
  margin-right: 10px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  height: 30px;
  line-height: 10px;
}

.tab-button.active {
  background-color: rgb(233, 233, 233);
}

.preprocess-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.main-content {
  flex: 1 1 300px;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.data-visualization {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  height: 350px;
  width: 100%;
  box-sizing: border-box;
}

.navigation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.navigation-button {
  color: #6eb1f8;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px 0 20px;
}

.placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #888;
}

.filters {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  box-sizing: border-box;
  overflow-x: hidden;
}

.filter-options-container {
  height: 70px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.filter-options-content {
  display: inline-flex;
  flex-wrap: nowrap;
  height: 100%;
}

.sidebar {
  flex: 0 0 200px;
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
}

.file-item {
  display: flex;
  align-items: center;
  margin-right: 5px 0;
}

.file-item button {
  flex: 1;
  text-align: left;
  padding: 0 10px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  color: #333333;
  background: none;
  text-transform: none;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  width: 100px;
  font-size: 10px;
  height: 20px;
}

.file-item .delete-button {
  cursor: pointer;
  padding: 0px 10px;
  font-size: 12px;
  width: 20px;
  flex-shrink: 0; 
  text-align: left; 
  margin-left: -12px; 
  flex: 0;
  color: red;
  background: #6eb1f8;
}

.file-item .delete-button:hover {
  color: #333333;
  background: #6eb1f8;
}

.file-list {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  border-radius: 5px;
  max-height: 450px;
}

.file-list button.selected {
  background-color: #6eb1f8;
  color: white;
}

.files-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.files-header h3 {
  margin: 0;
}

input {
  font-family: 'AnonymousPro', Arial, sans-serif;
}

select {
  font-family: 'AnonymousPro', Arial, sans-serif;
  font-size: 12px;
}

input::file-selector-button {
  font-family: 'AnonymousPro', Arial, sans-serif;
  background-color: rgb(233, 233, 233);
  border-style: solid;
  border-color: #d5d5d5;
  border-width: 1px;
  font-size: 12px;
}

option {
  font-family: 'AnonymousPro', Arial, sans-serif;
}

.upload-button {
  color: #6eb1f8;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.upload-message {
  color: green;
  font-weight: bold;
  margin: 5px 0;
  font-size: 12px;
}

button {
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  background-color: #6eb1f8;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 12px;
  font-family: 'AnonymousPro', Arial, sans-serif;
  height: 30px;
  line-height: 20px;
}

button:hover {
  background-color: #333333;
  color: white;
}

input[type="file"] {
  width: 100%;
}

.file-item-container {
  position: relative;
  display: inline-block;
}

.file-item.selected delete-button {
  display: block;
}

.folder-contents {
  margin-left: 20px;
}

.folder-name {
  cursor: pointer;
  font-size: 12px;
  color: #6eb1f8;
}

/* Evaluate */
.evaluate-container {
  display: flex;
  gap: 20px;
}

.sidebar {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border: 1px solid #d5d5d5;
  width: 100px;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.train-container button {
  margin-bottom: 10px;
}

.input-group input {
  width: 100%;
  padding: 5px;
  border: 1px solid #d5d5d5;
  border-radius: 2px;
}

.error-message, .success-message {
  padding: 10px;
  border-radius: 2px;
  margin-bottom: 10px;
}

.error-message {
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  color: #b71c1c;
}

.success-message {
  background-color: #e8f5e9;
  border: 1px solid #c8e6c9;
  color: #1b5e20;
  height: 8px;
  margin-top: 10px;
}

.success-message p{
  margin-top: -5px;
  font-size: 14px;
}

.results-container {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border: 1px solid #d5d5d5;
}

.metrics {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.metric {
  text-align: center;
}

.metric h3 {
  margin-bottom: 5px;
}

.charts {
  margin-bottom: 20px;
}

.confusion-matrix {
  margin-top: 20px;
}

.confusion-matrix h3 {
  margin-bottom: 10px;
}

.wavenumber-inputs h3{
  margin-top: -5px;
}

.wavenumber-inputs input{
  font-size: 12px;
  width: 40px;
  margin-right: 15px;
  margin-left: 5px;
}

.wavenumber-fields {
  font-size: 13px;
  margin-right: 5px;
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-data p {
  font-size: 15px;
  color: #888;
  text-align: center;
}


/* Train */

.parameter-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 12px;
}

.parameter-tabs .tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-bottom: -1px;
}

.parameter-tabs .tab.active {
  background-color: #fff;
  border-color: #ccc;
  border-bottom-color: #fff;
}

.parameter-content {
  margin-top: -40px;
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 13px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 450px;
}

.train-container {
  display: flex;
  gap: 20px;
}

.main-content {
  flex: 1;
}

.parameter-group {
  background-color: white;
  border-radius: 2px;
  padding: 20px;
  border: 1px solid #d5d5d5;
  font-size: 13px;
}

.parameter-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

label {
  font-size: 12px;
}

.parameter-input input{
  font-size: 12px;
  width: 70px;
}

.status-message {
  margin-top: 10px;
  font-weight: bold;
}

.error-details {
  background-color: #ffebee;
  border: 1px solid #ffcdd2;
  border-radius: 2px;
  padding: 10px;
  margin-top: 20px;
}

.error-details pre {
  white-space: pre-wrap;
  word-break: break-all;
}

button.backend {
  color: #6eb1f8;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background: none;
  margin-left: -15px;
  margin-bottom: 15px;
}

.backend-selector input {
  font-size: 12px;
  color:#333333;
}

.backend-selector form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.filter-tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  font-size: 12px;
  overflow-x: auto;
  overflow-y: hidden;
}

.filter-tabs::-webkit-scrollbar {
  height: 3px;
}

.filter-tabs::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-tabs::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.filter-tabs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.filter-tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-bottom: -1px;
  background: none;
  font-size: inherit;
  color: #333333;
  line-height: 10px;
}

.filter-tab.active {
  background-color: #fff;
  border-color: #ccc;
  border-bottom-color: #fff;
  color: #333333;
}

.filter-content {
  margin-top: -20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
  font-size: 13px;
}

.filter-column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.filter-option {
  display: flex;
  align-items: center;
  margin: 5px 0;
  white-space: nowrap;
}

.filter-option input[type="checkbox"] {
  margin-right: 5px;
}

.wavenumber-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.wavenumber-fields {
  display: flex;
  gap: 15px;
}

.filter-inputs {
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
  margin-left: 10px;
  margin-top: 5px;
  color: #6eb1f8;
  font-weight: bold;
}

.filter-inputs input{
  color: #6eb1f8;
  font-weight: bold;
}

.filter-actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.filter-actions input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 12px; 
}

.filter-options-container::-webkit-scrollbar {
  height: 5px;
}

.filter-options-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.filter-options-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.filter-options-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}
